<title><%= title %></title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/rollups/hmac-sha256.js"></script>
<script src="js/components/enc-base64.js"></script>
<script src="js/components/core.js"></script>
<script src="js/videoapp.js"></script>