<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<!--<body ng-app="videoapp" ng-controller="videoController" data-ng-init="CollectionLoad()">-->
<body ng-app="videoapp" ng-controller="videoController">

<% include partials/nav.ejs %>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div ng-if="videoCollection.collection.err"><span>{{videoCollection.collection.msg}}</span></div>
    <div ng-repeat="vid in videoCollection.collection.msg">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-6 video-item">
            <div class="video-poster" data ="http://image.tmdb.org/t/p/w185/{{vid.value.poster_path}}">
                <div id="owned-vi-{{vid.value.media_type}}-{{vid.value.id}}" class="owned-formats">
                    <span ng-repeat="format in vid.value.format" class="format-bubble">
                        <span ng-class="format | firstLetter">{{format}}</span>
                    </span>
                </div>
                <div class="video-poster">
                    <img ng-if="vid.value.poster_path" ng-src="http://image.tmdb.org/t/p/w185/{{vid.value.poster_path}}" />
                    <img ng-if="!vid.value.poster_path" ng-src="/images/no-poster.jpg" />
                </div>
                <br />
                <span class="release-date"><small>Released:</small> {{vid.value.release_date}}</span>
                <span class="glyphicon glyphicon-plus-sign add-video" onclick="toggleFormatOptions(this)"></span>
                <div class="format-options hidden a-center" data-vid="vi-{{vid.value.media_type}}-{{vid.value.id}}">
                    <li ng-repeat="formatAvail in formatOptions" ng-if="vid.value.format | contains:formatAvail" onclick="toggleVideoFormatOwned(this, 'remove')" class="owned">
                        {{formatAvail}}
                    </li>
                    <li ng-repeat="formatAvail in formatOptions" ng-if="vid.value.format | doesNotContain:formatAvail" onclick="toggleVideoFormatOwned(this, 'add')">
                        {{formatAvail}}
                    </li>
                </div>
            </div>

            <div class="video-desc">
                <h4 class="video-title" ng-if="vid.value.title">{{vid.value.title}}</h4>
                <h4 class="video-title" ng-if="vid.value.name">{{vid.value.name}}</h4>
                <span class="rating">
                    <span ng-if="vid.value.userRating" class="user-rating" ng-class="vid.value.userRating | userStars"></span>
                    <span ng-if="!vid.value.userRating">
                        <span ng-if="vid.value.vote_average" ng-class="vid.value.vote_average | voteStars" class="avg-rating"></span>
                        <span ng-if="!vid.value.vote_average" class="no-rating">no rating</span>
                    </span>
                </span>
                <div class="clearer"></div>
                <span class="overview">Summary: {{vid.value.overview}}</span>
                <div class="clearer"></div>
                <div class="watch-list">
                    <button ng-click="AddToWatchList('{{vid.key}}')">Add to watch list</button>
                </div>
            </div>

        </div>
    </div>
    <div class="clearer"></div>
    <p ng-hide="videoCollection.collection.msg.length">No matching videos located.</p>
    <span ng-show="videoCollection.collection.msg.length" class="videos-found clear f-left">Videos Found: {{videoCollection.collection.msg.length}}</span>

</div>
<% include partials/footer.ejs %>
</body>
</html>