<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body ng-app="videoapp" ng-controller="videoController">

<% include partials/nav.ejs %>


<div class="video-search a-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <form>
        <input type="text" id="search" placeholder="Search Videos" />
        <button type="submit" id="search-movies" class="btn btn-default" ng-click="MainItemClick()">Go</button>
    </form>
</div>
<div class="clearer"></div>
<div id="video-search-wrapper" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-style="resizeWithOffset(141)" resize>
    <div ng-repeat="vid in videoService.catalog" video-search-load>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 video-item" ng-if="vid.poster_path">

            <% include partials/videoBlockPoster %>

            <% include partials/videoBlockDesc %>

        </div>
    </div>
    <p ng-hide="videoService.catalog.length" ng-if="searchActive">No matching videos located.</p>
</div>
<span ng-show="videoService.catalog.length" class="videos-found clear f-left">Videos Found: {{videoService.catalog.length}}</span>
<div class="clearer"></div>
<% include partials/footer.ejs %>
</body>
</html>
