<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body ng-app="userapp" ng-controller="accountCtrl">
<% include partials/nav.ejs %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="fb-login">
    <a href="/auth/facebook" title="Login To TrackRight.org with Facebook">
        <img src="/images/facebook-login-button.png" alt="Login With Facebook" />
    </a>
</div>
<!--<div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>-->
<% include partials/footer.ejs %>
</body>
</html>

