<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/nav.ejs %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p>Please Login First</p>
    <form action="/login" method="post">
        <div>
            <label>Username:</label>
            <input id="username" type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input id="password" type="password" name="password"/>
        </div>
        <div>
            <input id="submit" type="submit" value="Log In"/>
        </div>
    </form>
    <p><small>hint: rhoehn24 / test</small></p>
    <p><small>hint: rsmith / bigo</small></p>
</div>
<% include partials/footer.ejs %>
<script>

    $('#submit').click(function(e){
        console.log('fires on click');
        e.preventDefault();
        $.ajax({
            url: '/login',
            headers: { 'Authorization': createLoginAuth() },
            type: 'POST',
            success: function(data){
                var res = JSON.parse(data);
                console.log(res);
                if (res.err){
                    console.log('we have a problem');
                } else{
                    console.log('signing in');
                    window.location.href = '/home';
                }
            }
        });
    });

</script>
</body>
</html>

