<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<!--<body ng-app="videoapp" ng-controller="videoController" data-ng-init="CollectionLoad()">-->
<body ng-app="videoapp" ng-controller="videoController" ng-init="videoDetailsLoad('<%= vidId %>', '<%= type %>')">

<% include partials/nav.ejs %>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 video-details">
    <div class="background">
        <img ng-if="videoDetails.details.backdrop_path" ng-src="http://image.tmdb.org/t/p/w185/{{videoDetails.details.backdrop_path}}" />
    </div>
    <div class="background-shadow"></div>
    <!-- todo - load in a stock image based off of the media_type & genre if missing backdrop image perhaps -->
    <div class="col-lg-2 video-poster">
        <img ng-if="videoDetails.details.poster_path" ng-src="http://image.tmdb.org/t/p/w185/{{videoDetails.details.poster_path}}" />
        <img ng-if="!videoDetails.details.poster_path" ng-src="/images/no-poster.jpg" />
        <div ng-if="videoDetails.details.owned" id="owned-vi-{{videoDetails.details.media_type}}-{{videoDetails.details.id}}" class="owned-formats">
            <span ng-repeat="format in videoDetails.details.format" class="format-bubble">
                <span style="background:{{format | bgColor}}">{{format}}</span>
            </span>
        </div>
        <span class="glyphicon glyphicon-plus-sign add-video" onclick="toggleFormatOptions(this)"></span>
        <div class="format-options hidden a-center" data-vid="vi-{{videoDetails.details.media_type}}-{{videoDetails.details.id}}">
            <li ng-repeat="formatAvail in formatOptions" ng-if="videoDetails.details.format | contains:formatAvail" onclick="toggleVideoFormatOwned(this, 'remove')" class="owned">
                {{formatAvail}}
            </li>
            <li ng-repeat="formatAvail in formatOptions" ng-if="videoDetails.details.format | doesNotContain:formatAvail" onclick="toggleVideoFormatOwned(this, 'add')">
                {{formatAvail}}
            </li>
        </div>
    </div>
    <div class="col-lg-10 video-desc">
        <div class="col-lg-10 video-title-wrapper">
            <h4>{{videoDetails.details.title}}</h4>
        </div>
        <div class="release-date col-lg-2" ng-if="videoDetails.details.release_date">{{dateShowYear(videoDetails.details.release_date)}}</div>
        <div class="video-desc-wrapper clearer">
            <div class="runtime col-lg-6" ng-if="videoDetails.details.runtime">{{minToHours(videoDetails.details.runtime)}}</div>
            <div class="genres col-lg-6" ng-if="videoDetails.details.genres.length > 0">
                <span ng-repeat="genre in videoDetails.details.genres">
                    {{genre.name}}{{$last ? '' : ($index==genre.name.length-2) ? ' and ' : ', '}}
                </span>
            </div>
            <div class="clearer"></div>
            <div class="tagline col-lg-10" ng-if="videoDetails.details.tagline">{{videoDetails.details.tagline}}</div>
            <span class="rating col-lg-2">
                <span ng-if="videoDetails.details.userRating" class="user-rating" ng-class="videoDetails.details.userRating | userStars"></span>
                <span ng-if="!videoDetails.details.userRating">
                    <span ng-if="videoDetails.details.vote_average" ng-class="videoDetails.details.vote_average | voteStars" class="avg-rating"></span>
                    <span ng-if="!videoDetails.details.vote_average" class="no-rating">no rating</span>
                </span>
            </span>
            <div class="clearer"></div>
            <div class="credits director col-lg-12">
                <span class="label">Director </span>
                <span ng-repeat="crew in videoDetails.details.credits.crew">
                    <span ng-if="crew.job == 'Director'">{{crew.name}}{{$last ? '' : ($index==genre.name.length-2) ? ' and ' : ', '}}</span>
                </span>
            </div>
            <div class="credits cast col-lg-12">
                <span class="label">Cast </span>
                <span ng-repeat="cast in videoDetails.details.credits.cast">
                    {{cast.name}}{{crew.name}}{{$last ? '' : ($index==genre.name.length-2) ? ' and ' : ', '}}
                </span>
            </div>
            <div class="clearer"></div>
            <div class="overview" ng-if="videoDetails.details.overview">{{videoDetails.details.overview}}</div>

        </div>
    </div>
    <!--{{videoDetails.details.credits}}<hr />-->
    <!--{{videoDetails.details}}-->
</div>

<% include partials/footer.ejs %>
</body>
</html>