<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<!--<body ng-app="videoapp" ng-controller="videoController" data-ng-init="CollectionLoad()">-->
<body ng-app="videoapp" ng-controller="videoController" ng-init="videoDetailsLoad('<%= vidId %>', '<%= type %>')">

<% include partials/nav.ejs %>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 video-details">
    <div class="background">
        <img ng-if="videoDetails.details.backdrop_path" ng-src="http://image.tmdb.org/t/p/w185/{{videoDetails.details.backdrop_path}}" />
    </div>
    <!-- todo - load in a stock image based off of the media_type & genre if missing backdrop image perhaps -->
    <div class="col-lg-2 video-poster">
        <img ng-if="videoDetails.details.poster_path" ng-src="http://image.tmdb.org/t/p/w185/{{videoDetails.details.poster_path}}" />
        <img ng-if="!videoDetails.details.poster_path" ng-src="/images/no-poster.jpg" />
    </div>
    <div class="col-lg-10 video-info">
        <h4>{{videoDetails.details.title}}</h4>
    </div>
    {{videoDetails.details}}
</div>

<% include partials/footer.ejs %>
</body>
</html>