<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/nav.ejs %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    To Watch List Page
</div>
<% include partials/footer.ejs %>
</body>
</html>