@import 'colors.css';
@import 'widths.css';

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {padding:0;}
a:hover {color:#ff0000;}
.clear, .clearer {clear:both !important;}
.f-left {float:left;}
.f-right {float:right;}
.a-center {text-align:center;}
.a-left {text-align:left;}
.a-right {text-align:right;}

button {
    padding:2px 7px; border:1px solid #888; border-radius:5px; margin:3px 0 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
    background: #f2f5f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

}
button:hover, .in-list button:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe7fa+0,6393c1+100;Grey+Blue+3D */
    background: #cfe7fa; /* Old browsers */
    background: -moz-linear-gradient(top,  #cfe7fa 0%, #6393c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
}

.in-list button {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffe8+0,d6dbbf+100;Wax+3D+%231 */
    background: #feffe8; /* Old browsers */
    background: -moz-linear-gradient(top,  #feffe8 0%, #d6dbbf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #feffe8 0%,#d6dbbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */
}

.navbar.navbar-default {margin-bottom:0; border-bottom:0;}
.navbar-default {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100&0.4+0,1+100;Grey+Gloss+%231 */
    background: -moz-linear-gradient(top,  rgba(226,226,226,0.4) 0%, rgba(219,219,219,0.7) 50%, rgba(209,209,209,0.71) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(226,226,226,0.4) 0%,rgba(219,219,219,0.7) 50%,rgba(209,209,209,0.71) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(226,226,226,0.4) 0%,rgba(219,219,219,0.7) 50%,rgba(209,209,209,0.71) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.navbar-right .title {margin-top:10px; font-size:26px;}
.navbar-default .navbar-nav>li>a {font-size:1.3em;}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {background-color:transparent; color:#333; text-shadow:1px 1px #ccc;}
.TR-logo {float:right;}
.TR-logo .header-logo {height:40px; margin:-6px 5px 0;}

.fb-login {padding:60px 0; width:100%; text-align:center;}

.footer {position:absolute; bottom:0; margin:auto; padding:5px 40px 0 0; right:0; background:#999; z-index:-1; color:#fff;}
.footer a {color:#fff;}
.footer a:hover {color:#fff;}

.video-search {padding:10px 0;}
.video-search input {padding:5px 12px; top:1px; position:relative;}
#video-search-wrapper {display:block; overflow-x:hidden; overflow-y:auto; padding:12px 0;}
.videos-found {position:absolute; bottom:0; left:20px; color:#fff;}
#video-collection-wrapper {display:block; overflow-x:hidden; overflow-y:auto; margin-top:10px; padding:12px 0;}
#video-details-wrapper {display:block; overflow-x:hidden; overflow-y:auto; margin-top:10px;}

.video-scroll-item .rating {float:right; width:100px; margin-top:10px; background:url('../images/star_rating_sprites.png') no-repeat 0 -5px; font-size:0; height:17px;}
.video-scroll-item .rating .user-rating {background:url('../images/star_rating_sprites.png') no-repeat -2px -35px; height:17px; display:block;}
.video-scroll-item .rating .avg-rating {background:url('../images/star_rating_sprites.png') no-repeat -2px -63px; height:17px; display:block;}

.add-video {position:absolute; color:#ccc; font-size:26px; left:5px; top:267px; cursor:pointer;}
.format-options {background:#ccc; border-radius:18px; top:276px; position:absolute; left:20px; padding:2px 0; z-index:10; width:500px;}
.format-options li {list-style:none; padding:4px 0; border-radius:12px; margin:4px; cursor:pointer; float:left; width:156px;}
.format-options li:hover, .format-options li.owned:hover {background:#fff;}
.format-options li.owned {background:#2aabd2;}

.video-poster .owned-formats {position:absolute; z-index:5; top:0; left:75px;}
.active .video-poster .owned-formats {animation-name:scroll-item-formatBubble; animation-duration:.2s; left:140px;}
.video-poster .owned-formats .bubble {padding:4px; border-radius:12px; font-size:10px; margin:4px 2px; display:block;}
.video-poster .season-selection.dropdown {position:absolute; bottom:-8px;}
.video-poster .add-to-collection-wrapper.dropdown {position:absolute; bottom:0;}
.video-poster .dropdown-menu {text-align:center; width:200px;}
.video-poster .dropdown-menu li {cursor:pointer; padding:2px; background:#f1f1f1; margin:3px 8px; border-radius:4px;}

/** single video details page **/
.video-details .background {opacity:.8; width:106%; margin:0; left:0; height:auto; position:fixed; top:0; overflow:hidden; z-index: -1;}
.video-details .background img {width:100%; position:fixed; height:100%;}
.video-details .background-shadow {display:block; width:200%; position:fixed; height:487px; top:133px; z-index:-1; left:-50%;
    background: -moz-linear-gradient(bottom, rgba(204,204,204,1) 0%, rgba(204,204,204,0.35) 100%);
    background: -webkit-linear-gradient(bottom, rgba(204,204,204,1) 0%,rgba(204,204,204,0.35) 100%);
    background: linear-gradient(to top, rgba(204,204,204,1) 0%,rgba(204,204,204,0.35) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#cccccc', startColorstr='#40cccccc',GradientType=0 );}

.video-details .video-poster img {max-height:275px; max-width:100%; margin-top:16px; box-shadow:4px 4px 12px #333;}
.video-details .video-poster .add-video {color:#fff;}
.video-details .video-poster .format-options {border:1px solid #666;}

.video-details .video-desc-wrapper {padding:10px 20px;}
.video-details .video-desc .video-title-wrapper h4 {font-size:3em; color:#d1d1d1; text-shadow:2px 2px #333;}
.video-details .video-desc .release-date {color:#004d99; font-weight:bold; margin-top:9px; font-size:1.2em; line-height:3em;}
.video-details .video-desc .runtime {margin:0 0 10px 0; font-size:1.1em;}
.video-details .video-desc .genres {text-align:right; margin:0 0 10px 0; font-size:1.1em;}
.video-details .video-desc .tagline {margin:10px 0; font-size:2em;}
.video-details .video-desc .rating {margin:10px 0; padding:0; float:right; width:100px; background:url('../images/star_rating_sprites.png') no-repeat 0 -5px; font-size:0; height:17px;}
.video-details .video-desc .rating .user-rating {background:url('../images/star_rating_sprites.png') no-repeat -2px -35px; height:17px; display:block;}
.video-details .video-desc .rating .avg-rating {background:url('../images/star_rating_sprites.png') no-repeat -2px -63px; height:17px; display:block;}
.video-details .video-desc .credits {margin:10px 0; font-size:1.1em;}
.video-details .video-desc .credits .label {text-transform:uppercase; font-weight:bold; color:#000;}
.video-details .video-desc .overview {margin:10px 0; background: #eaeaea; padding:25px 40px; border-radius:40px 4px 40px 4px;}

.season-selection .get-seasons {position:absolute; bottom:-13px; left:0;}

/** user account page */
.user-details {padding:2% 5%;}


/** testing new full width video return **/
.video-item-wrapper {animation-name:scroll-item-wrapper-revert; animation-duration:.2s; height:100px; background:#d1d1d1; border-top:1px solid #333; border-bottom:1px solid #333; position:relative; width:100%; margin:0; padding:0; box-shadow:0; z-index:1;}
.video-item-wrapper:hover, .video-item-wrapper.active {animation-name:scroll-item-wrapper; animation-duration:.2s; margin:-5px -1.5% -5px; background:#fafafa; width:103%; height:200px; padding: 0 1.5%; z-index:9999; box-shadow:0 0 15px #333;}
.video-scroll-item .video-poster {float:left; padding-right:12px;}
.video-item-wrapper .video-scroll-item .video-poster img {animation-name:scroll-item-wrapper-height-revert; animation-duration:.2s; height:98px;}
.video-item-wrapper:hover .video-scroll-item .video-poster img, .video-item-wrapper.active .video-scroll-item .video-poster img {height:198px; animation-name:scroll-item-wrapper-height; animation-duration:.2s;}
.video-scroll-item .video-title a {color:#333; font-size:1.2em;}

.video-scroll-item .video.poster {}

.video-scroll-item .video-title {
    background: -moz-linear-gradient(left,  rgba(209,209,209,1) 0%, rgba(250,250,250,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(209,209,209,1) 0%,rgba(250,250,250,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(209,209,209,1) 0%,rgba(250,250,250,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#fafafa',GradientType=1 ); /* IE6-9 */
    padding-top:15px; height:98px; animation-name:scroll-item-wrapper-height-revert; animation-duration:.2s;}
.active .video-scroll-item .video-title {background:#fafafa; height:198px; animation-name:scroll-item-wrapper-height; animation-duration:.2s;}
.video-scroll-item .video-title strong a {font-size:24px;}
.video-scroll-item .video-title .glyphicon {position:absolute; top:24px; left:-2px; color:#888;}
.video-scroll-item .video-title .watch-list {position:absolute; bottom:10px;}

.video-scroll-item .video-action {background:#fafafa; padding-top:15px; height:98px; animation-name:scroll-item-wrapper-height-revert; animation-duration:.2s;}
.active .video-scroll-item .video-action {height:198px; animation-name:scroll-item-wrapper-height; animation-duration:.2s;}
.video-scroll-item .video-action .dropdown-menu .format-label {width:98%; text-align:center; padding:2px 0; margin:1%; background:#f1f1f1; border-radius:10px; cursor:pointer;}
.video-scroll-item .video-action .dropdown-menu .format-label:hover {background:#d1d1d1;}
.video-scroll-item .video-action .add-to-collection-list {list-style:none;}
.video-scroll-item .video-action .format-item span {cursor:pointer; background:#e5e5e5; border-radius:10px; float:left; padding:2px 10px; margin:4px 6px;}
.video-scroll-item .video-action .format-item:hover span {background:#d1d1d1;}

/*** animations ***/
@keyframes scroll-item-wrapper {
    from {height:100px;
        background:#d1d1d1;
        margin:0 0 0 0;
        width:100%;
        padding:0;
    }
    to {height:200px;
        background:#fafafa;
        margin: -5px -1.5% -5px;
        width:103%;
        padding:0 1.5%;
    }
}
@keyframes scroll-item-wrapper-revert {
    from {height:200px;
        background:#fafafa;
        margin: -5px -1.5% -5px;
        width:103%;
        padding:0 1.5%;
    }
    to {height:100px;
        background:#d1d1d1;
        margin:0 0 0 0;
        width:100%;
        padding:0;
    }
}
@keyframes scroll-item-wrapper-height {
    from {height:98px;}
    to {height:198px;}
}
@keyframes scroll-item-wrapper-height-revert {
    from {height:198px;}
    to {height:98px;}
}
@keyframes scroll-item-formatBubble {
    from {left:75px;}
    to {left:140px;}
}