@import 'colors.css';
@import 'widths.css';

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {padding:20px;}
a:hover {color:#ff0000;}
.clear, .clearer {clear:both !important;}
.f-left {float:left;}
.f-right {float:right;}
.a-center {text-align:center;}
.a-left {text-align:left;}
.a-right {text-align:right;}

button {
    padding:2px 7px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
    background: #f2f5f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

}
button:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe7fa+0,6393c1+100;Grey+Blue+3D */
    background: #cfe7fa; /* Old browsers */
    background: -moz-linear-gradient(top,  #cfe7fa 0%, #6393c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
}

.navbar-right .title {margin-top:10px; font-size:26px;}

.video-search input {padding:5px 12px; top:1px; position:relative;}

.video-item {background:#fff; height:360px; padding:10px;}
.video-item .video-poster {float:left; padding:5px; max-width:40%; position:relative;}
.video-item .video-desc {float:left; padding:5px; max-width:60%; overflow-x:auto; position:relative; height:360px;}
.video-item .video-desc h4 {font-size:20px; float:left; width:100%; border-bottom:1px solid #d1d1d1;}
.video-item .video-desc .rating {float:right; width:100px; background:url('../images/grey-star-rating-full.jpg') no-repeat 0 0; font-size:0; height:17px;}
.video-item .video-desc .rating .user-rating {background:url('../images/yellow-star-rating-full.jpg') no-repeat 0 0 ; height:17px; display:block;}
.video-item .video-desc .rating .avg-rating {background:url('../images/blue-star-rating-full.jpg') no-repeat 0 0 ; height:17px; display:block;}

.add-video {position:absolute; color:#ccc; font-size:26px; left:5px; top:267px; cursor:pointer;}
.format-options {background:#ccc; border-radius:18px; top:276px; position:absolute; left:20px; padding:2px 0; z-index:10; width:500px;}
.format-options li {list-style:none; padding:4px 0; border-radius:12px; margin:4px; cursor:pointer; float:left; width:156px;}
.format-options li:hover {background:#fff;}
.format-options li.owned {background:#2aabd2;}

.video-poster .release-date {top:-5px; position:relative; clear:left; padding:0 5px; float:left;}
.video-poster .owned-formats {position:absolute; z-index:5; top:2px;}
.video-poster .owned-formats span span {padding:4px; border-radius:12px; font-size:6px;}